<div class="container">
  <div class="row resources__container">
    <div class="col s12">
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header resources__topicHeader">
            <div class="col left no-padding">intro</div>
            <div class="col right no-padding"><i class="material-icons">add</i></div>
          </div>
          <div class="collapsible-body">
            <div class="">intro</div>
          </div>
        </li>
        <li>
          <div class="collapsible-header resources__topicHeader">
            <div class="col left no-padding">the basics</div>
            <div class="col right no-padding"><div *ngIf="addIcon; then addIcon"></div></div>
          </div>
          <div class="collapsible-body">
            <div class="resources__subtopicHeader">notes</div>
            <br>
            <div class="resources__subtopicHeader">chords</div>
            <br>
            <div class="resources__subtopicHeader">etc</div>
          </div>
        </li>
        <li>
          <div class="collapsible-header resources__topicHeader">
            <div class="col left no-padding">charts</div>
            <div class="col right no-padding"><i class="material-icons">add</i></div>
          </div>
          <div class="collapsible-body">
            <div class="resources__subtopicHeader">symbols</div>
            <br>
            <div class="resources__subtopicHeader">example</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #collapsed><i class="material-icons">add</i></ng-template>
<ng-template #expanded><i class="material-icons">remove</i></ng-template>
