@import "../../variables";

.resources__container {
  margin-top: $kord-content-margin;
}

.resources__topicHeader {
  text-transform: lowercase;
  font-size: 20px;
}

.resources__subtopicHeader {
  text-transform: lowercase;
  font-size: 18px;
}


