<div class="container">
  <div class="row resources__container">
    <div class="row">
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header">intro</div>
          <div class="collapsible-body">
            <div class="">intro</div>
          </div>
        </li>
        <li>
          <div class="collapsible-header">the basics</div>
          <div class="collapsible-body">
            <div class="">notes</div>
            <br>
            <div class="">chords</div>
            <br>
            <div class="">etc</div>
          </div>
        </li>
        <li>
          <div class="collapsible-header">charts</div>
          <div class="collapsible-body">
            <div class="">charts</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
