<div class="kordContainer">
  <div class="row">
    <div class="col s12 m6">
      <div class="leftContainer">
        <div class="row">
          <div class="logoImage"></div>
        </div>
        <div class="row">
          <div class="col s12 m6">
            <a href="https://appsto.re/us/0SEVkb.i">
              <div class="appStoreBadge"></div>
            </a>
          </div>
          <div class="col s12 m6">
            <a href="https://play.google.com/store/apps/details?id=com.kairosconsolidated.nashvillenumbers&hl=en">
              <div class="googlePlayBadge"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="phoneMock"></div>
    </div>
  </div>
</div>

