.kordContainer {
  padding: 5%;
  height: 100vh;
}

.image {
  display: block;
  flex-basis: auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-size: contain;
  background-position: center;
}

.logoImage {
  @extend .image;
  background-image: url("../assets/images/Kord.png");
  background-repeat: no-repeat;
  height: 15vh;
  width: auto;
}

.phoneMock {
  @extend .image;
  background-image: url("../assets/images/iPhone7Mock.png");
  background-repeat: no-repeat;
  height: 80vh;
}


.appStoreBadge {
  @extend .image;
  background-image: url("../assets/images/appleBadge.png");
  background-repeat: no-repeat;
  height: 50px;
  width: auto;
}

.googlePlayBadge {
  @extend .image;
  background-image: url("../assets/images/googleBadge.png");
  background-repeat: no-repeat;
  height: 50px;
  width: auto;
}

