<nav>
  <div class="nav-wrapper">
    <div class="container">
      <ul id="slide-out" class="side-nav kordNavItems">
        <li>
          <a routerLink="/download" class="kordNav__item">download</a>
        </li>
        <li>
          <a routerLink="/resources" class="kordNav__item">resources</a>
        </li>
      </ul>
      <a data-activates="slide-out" materialize="sideNav" class="button-collapse show-on-medium-and-down"><i class="material-icons">menu</i></a>
      <a routerLink="/download" class="brand-logo"><img class="kordBrandLogo" src="../assets/KordBrandLogo.png"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down kordNavItems">
        <li><a><span routerLink="/download" routerLinkActive="active-page" class="kordNav__item">download</span></a></li>
        <li><a><span routerLink="/resources" routerLinkActive="active-page" class="kordNav__item">resources</span></a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

