.appStoreBadge {
  background-image: url("../assets/images/app-store-badge.png");
  background-repeat: no-repeat;
}

.appStoreBadge {
  background-image: url("../assets/images/google-play-badge.png");
  background-repeat: no-repeat;
}
