// Colors
$kord-text-color:             #FFFFFF;
$kord-html-background-color:  #0B2F5F;
$transparent:                 rgba(0,0,0,0);


// Heights
$kord-header-height:          64px;
$kord-content-margin:         32px;
